body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  
}

header {
  background-color: #5C4B99;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  width: 100px;
  border-radius: 40px;
  
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 60px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.landing-page {
  text-align: center;
}

.landing-page img {
  width: 500px;
  border-radius: 670px;
  margin-top: 20px;
 
}
.pcc {
  display: flex;
  justify-content: space-between; 
  
}
#yoyo{
  background: linear-gradient(#F1EAFF,#DCBFFF,#D0BFFF,#F1EAFF);
  margin:40px;
  padding:20px;
  border-radius: 30px;
  border:5px solid #9F91CC;
}
.card {
  background-color: #9575DE;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  flex: 30; 
  margin-left: 30px;
  margin-right: 30px;
}
.card .hun{
  width: 50%;
  display: block;
  margin: 0 auto; 
  border-radius: 15px;
}
.card .edu{
  width: 70%;
  display: block;
  margin: 0 auto; 
  border-radius: 15px;
}
.yo{
  font-family: cursive;
  text-align: center;
  font-weight: bolder;
}
.donation-form {
  background-color: #E6E6FA;
  padding: 45px;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 5px 5px 7px #C9A7EB;
}

form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: rgba(124, 15, 207, 0.688);
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 250px;
  margin-right: 250px;
}

button:hover {
  background-color: rgba(217, 185, 236, 0.675);
  color: rgba(82, 6, 79, 0.688);
 
}
footer {
  background-color: #5C4B99;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
